#pane {
    -fx-background-color: rgba(6,180,255,0.5);
}

#nextBtn {
    -fx-background-color: yellow;
    -fx-background-radius: 15;
}

#backBtn {
    -fx-background-color: yellow;
    -fx-background-radius: 15;
}

#playBtn, #deleteBtn {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-radius: 10;
}


#upBtn, #downBtn {
    -fx-background-color: lightgrey;
    -fx-background-radius: 10;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-radius: 10;
}


#dropdown {
    -fx-background-color: white;
}