#pane {
    -fx-background-color: rgba(6,180,255,0.5);
}

#mainMenuBtn {
    -fx-background-color: yellow;
    -fx-background-radius: 15;
}

#searchBtn {
    -fx-background-radius: 0 5 5 0;
}

#textField {
    -fx-background-radius: 5 0 0 5;
}
