#pane {
    -fx-background-color: linear-gradient(to top, #df89b5 0%, #bfd9fe 100%);
}

#loadingPane{
	-fx-background-color: rgba(191, 217, 254,0.5);
}

#helpPane {
    -fx-background-color: white;
    -fx-border-color: black;
}

#helpBtn {
    -fx-background-color: white;
    -fx-background-radius: 50%;
    -fx-border-color: black;
    -fx-border-width: 1.5;
    -fx-border-radius: 50%;
}

#yellowBtn {
    -fx-background-color: rgba(142, 205, 250, 1);
    -fx-background-radius: 10;
    -fx-border-color: black;
    -fx-border-width: 1.5;
    -fx-border-radius: 10;
  
}

#stdBtn {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-color: black;
    -fx-border-width: 1.5;
    -fx-border-radius: 10;
}

#search-textField {
    -fx-background-radius: 5 0 0 5;
}

#search-searchBtn {
    -fx-background-radius: 5 0 0 5;
}

#upBtn, #downBtn {
    -fx-background-color: lightgrey;
    -fx-background-radius: 10;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-radius: 10;
}

#dropdown {
    -fx-background-color: white;
}